  body {
    padding-top: 50px;
  }

  .sidebar {
    background-color: #e5e5e5;
    display: table-cell;
    height: 75%;
    width: 10%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
    border-color: #000000;
  }
