  body {
    padding-top: 50px;
  }

  .sidebar {
    background-color: #e5e5e5;
    display: table-cell;
    float: left;
    padding: 10px 10px 10px 10px;
    border-right: 1px solid;
    border-color: #000000;
  }

  footer {
    display: block;
    position: absolute;
    bottom: 10px;
  }

  .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
