  body {
    padding-top: 50px;
  }

  footer {
    display: block;
    position: absolute;
    bottom: 10px;
  }

  .chart {
    display: block;
  }

  .barchart {
    display: block;
    background-color: #F1F3F3;
  }

  .toolbar {
    display: inline-block;
  }

  .toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
    z-index: 10;
  }
